In [1]:
# Import Libaries
import pandas as pd
from datasets import load_dataset
import matplotlib.pyplot as plt

# Loading Datasets
dataset = load_dataset('lukebarousse/data_jobs')
df = dataset['train'].to_pandas()

# Data Cleanup
df['job_posted_date'] = pd.to_datetime(df['job_posted_date'])

In [2]:
df_original = df.copy()

In [5]:
df_original['job_posted_date_str'] = df_original['job_posted_date'].apply(lambda x: x.strftime('%Y-%m-%d'))
df_original[['job_posted_date', 'job_posted_date_str']].head()

      job_posted_date job_posted_date_str
0 2023-06-16 13:44:15          2023-06-16
1 2023-01-14 13:18:07          2023-01-14
2 2023-10-10 13:14:55          2023-10-10
3 2023-07-04 13:01:41          2023-07-04
4 2023-08-07 14:29:36          2023-08-07