In [1]:
# Import Libaries
import pandas as pd
from datasets import load_dataset
import matplotlib.pyplot as plt
from datetime import date

# Loading Datasets
dataset = load_dataset('lukebarousse/data_jobs')
df = dataset['train'].to_pandas()

# Data Cleanup
df['job_posted_date'] = pd.to_datetime(df['job_posted_date'])

In [2]:
df_original = df.copy()

In [13]:
from datetime import datetime

today = date.today()
now = datetime.now()

print("Today:", today)
print("Now:", now)

Today: 2025-01-15
Now: 2025-01-15 17:47:11.916370

In [8]:
df_date = df_original.copy()

In [20]:
def days_from_post(post_date):
    return (now - post_date).days

In [21]:
df_date['days_since_posted'] = df_date['job_posted_date'].apply(days_from_post)

In [22]:
df_date.sample(2)

,job_title_short,job_title,job_location,job_via,job_schedule_type,job_work_from_home,search_location,job_posted_date,job_no_degree_mention,job_health_insurance,job_country,salary_rate,salary_year_avg,salary_hour_avg,company_name,job_skills,job_type_skills,days_since_posted
562731,Data Analyst,SQL Data Analysts,Australia,via BeBee Australia,Full-time,False,Australia,2023-10-02 04:19:09,True,False,Australia,None,NaN,NaN,Talent International,"['sql', 'sas', 'sas', 'r', 'python']","{'analyst_tools': ['sas'], 'programming': ['sq...",471
150123,Senior Data Analyst,Senior Data Analyst,"Bee Cave, TX",via BeBee,Full-time,False,"Texas, United States",2023-05-25 08:01:28,False,True,United States,None,NaN,NaN,UnitedHealth Group,"['sql', 'python', 'sql server', 'azure', 'snow...","{'analyst_tools': ['tableau', 'power bi', 'ssr...",601