In [1]:
# Import Libaries
import pandas as pd
from datasets import load_dataset
import matplotlib.pyplot as plt

# Loading Datasets
dataset = load_dataset('lukebarousse/data_jobs')
df = dataset['train'].to_pandas()

# Data Cleanup
df['job_posted_date'] = pd.to_datetime(df['job_posted_date'])

In [28]:
salary = 60_0000

def salary_cat (salary):
    if salary < 60_000: 
        return "Low"
    if 60_000 <= salary < 100_000:
        return "Medium"
    else:
        return "High"
    
salary_cat(salary)

'High'

In [23]:
df_notna = df[pd.notna(df['salary_year_avg'])].copy()

In [24]:
df_salary_category = df_notna.copy()

In [29]:
df_salary_category['salary_category'] = df_salary_category['salary_year_avg'].apply(salary_cat)

In [32]:
df_salary_category[['salary_year_avg', 'salary_category']].sample(10)

        salary_year_avg salary_category
68607          176625.0            High
466910          79200.0          Medium
776012         147500.0            High
666273         139000.0            High
651943         150000.0            High
215964         105000.0            High
501127         125000.0            High
699112         121680.0            High
722574         147500.0            High
723083          87307.5          Medium

In [34]:
#Turn the function into a lambda function:
(lambda salary: 'Low' if salary < 60_000 else 'Medium' if salary <= 100_000 else 'High')