In [1]:
#Import Libaries
import pandas as pd
from datasets import load_dataset
import matplotlib.pyplot as plt

# Loading Datasets
dataset = load_dataset('lukebarousse/data_jobs')
df = dataset['train'].to_pandas()

#Data Cleanup
df['job_posted_date'] = pd.to_datetime(df['job_posted_date'])

In [3]:
df_original = df.copy()
df_pivot = df_original.copy()

In [4]:
median_pivot = df_pivot.pivot_table(values='salary_year_avg', index='company_name', aggfunc=['median'])

In [8]:
median_pivot.sort_index(ascending=False).head(5)

                                            median
                                   salary_year_avg
company_name
​Illinois State Board of Education         62536.0
Технологическая компания                  280000.0
ЛАНИТ                                     400000.0
ztp                                        95000.0
zooplus SE                                161750.0