# How are the in-demand skills trending for Data Analysts?

## Methodology:

1. Aggregate monthly skill counts.
2. Analyse based on percentage of total jobs. Avoiding overall job market trends being shown in data set.
3. Plot the monthly skill demand for Data Analysts.

In [1]:
import ast
import pandas as pd
from datasets import load_dataset
import matplotlib.pyplot as plt
import seaborn as sns

# Loading Datasets
dataset = load_dataset('lukebarousse/data_jobs')
df = dataset['train'].to_pandas()

# Data Cleanup
df['job_posted_date'] = pd.to_datetime(df['job_posted_date'])
df['job_skills'] = df['job_skills'].apply(lambda x: ast.literal_eval(x) if pd.notna(x) else x)

In [4]:
df_da_uk = df[(df['job_title_short'] == 'Data Analyst') & (df['job_country'] == 'United Kingdom')].copy()

df_da_uk['job_posted_month_no'] = df_da_uk['job_posted_date'].dt.month

In [5]:
df_da_uk_exploded = df_da_uk.explode('job_skills')

In [ ]:
df_da_uk_pivot = df_da_uk_exploded.pivot_table(index='job_posted_month_no', columns='job_skills', aggfunc='size', fill_value=0)

df_da_uk_pivot.loc['Total'] = df_da_uk_pivot.sum()

df_da_uk_pivot = df_da_uk_pivot[df_da_uk_pivot.loc['Total'].sort_values(ascending=False).index]

df_da_uk_pivot = df_da_uk_pivot.drop('Total')

df_da_uk_pivot

##### Video Timestamp = 10:33:37

job_skills,sql,excel,power bi,python,tableau,r,sas,azure,go,powerpoint,...,selenium,flutter,fortran,redis,golang,ionic,kotlin,laravel,node,next.js
job_posted_month_no,,,,,,,,,,,,,,,,,,,,,
1,607,581,371,266,204,141,126,73,54,78,...,0,1,0,0,0,0,0,0,1,0
2,450,479,287,179,171,91,92,65,46,45,...,0,0,0,0,0,0,0,0,0,0
3,301,299,174,120,117,67,52,38,42,43,...,0,0,0,0,0,0,0,0,0,0
4,230,227,160,90,75,47,38,32,27,39,...,0,0,0,1,0,1,0,0,0,0
5,258,249,161,96,76,53,40,36,29,27,...,0,0,0,0,0,0,0,0,0,0
6,282,297,181,118,95,52,36,36,37,34,...,0,0,0,0,0,0,0,0,0,0
7,398,394,297,202,106,97,78,111,45,84,...,0,0,0,0,0,0,0,0,0,0
8,260,262,171,109,84,51,36,42,39,28,...,0,0,1,0,0,0,0,0,0,0
9,498,451,318,255,206,144,82,70,61,48,...,0,0,0,0,0,0,1,1,0,0
10,556,456,310,310,231,156,68,68,72,48,...,0,0,0,0,0,0,0,0,0,0
11,357,304,238,194,134,107,42,54,51,27,...,0,0,0,0,1,0,0,0,0,1
12,270,275,185,179,138,89,48,51,45,26,...,1,0,0,0,0,0,0,0,0,0